{% extends "base.twig" %}


{% block styles %}
    {{ parent() }}
{% endblock %}


{% block title %}
    Register
{% endblock %}

{% block header %}
    <h1>PWPOP</h1>
{% endblock %}


{% block content %}
    <h1>QUÉ PASÓ WEY</h1>

    <h2> Realmente no lo sabemos</h2>

    <h3> ¯\_(ツ)_/¯ </h3>

    <h5>Pero quizás esto tiene algo que ver</h5>

    {% if errors is defined %}
        <ol>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ol>
    {% endif %}

    {% if isenabled is defined %}
        {% if not isenabled  %}
            <div class="form-group">
                <div class="alert alert-warning" role="alert">
                    Please check your email or click <a>here</a>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}



{% block footer %}
{% endblock %}