{% extends "base.twig" %}
{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block title %}
    Profile
{% endblock %}

 {% block header %}
     <h1>PWPOP Profile</h1>
 {% endblock %}


{% block content %}
    <h1>Your Profile</h1>
    <!-- <p>Hello {{ name }}!</p> -->
{% endblock %}


{% block footer %}
    <h5>Copyright {{"now"|date('M Y')}}</h5>
{% endblock %}