body {
    background-color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 30%;
    font-family: "Tahoma",sans-serif;
    color: black;
}

#topNav{
    background-color: #7355a0;
    padding: 0.5em 1em;
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 900px;
    margin: 0;
    text-align: center;
    padding-top: 15px;
}

#botNav{
    background-color: /*#9162e4*/#7355a0;


}

#topJumbo{
    margin: 70px 0 0;
    padding: 0.5em 0;
    background-color: white;
}

#profileImage{
    max-height: 250px;
    max-width: 250px;
    border-radius: 50%;
    width: 100%;
}

#productImage{
    max-height: 150px;
    max-width: 150px;
    border-radius: 25%;
    width: 100%;
}

#profileImageLink{
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
    width: 100%;
}

#deleteButtonContainer{
    padding-top: 5em;
}

#deleteButton{
    color: red;
    text-decoration: none;
}

#updateButton{
    text-decoration: none;
}

#fotoprod{
    width: 100%;
    height: 300px;
}
#profileButtons{
    padding-top: 5em;
}

#profileData{
    max-height: 100%;
    align-items: center;
    padding-top: 2em;
}
.container-fluid {
    height: 90%;
    width: 100%;
}

.carousel-inner img {
    width: 90%;
    height: 60%;
}
.invalid{
    color:red;
}
#fotoprod1{
    width: 50%;
    height: 50%;
}
#fotoprod2{
    width: 50%;
    height: 50%;
}

